html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: rgba(70, 70, 70);
}
#head {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(15,15,15);
    color: white;
    margin-bottom: 20px;
}
.pure-button {
    display: inline-block;
    padding: 5px;
    color: white;
    border: 2px solid rgb(44, 44, 44);
    background: rgba(95, 95, 95);
    cursor: pointer;
}
.pure-button:hover {
    opacity: 0.7;
}
.group {
    border-radius: 7px;
    border: 2px solid rgb(44, 44, 44); 
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    color: white;
}
.group-title {
    position: absolute;
    margin-top: -25px;
    color: white;
    background: rgba(70, 70, 70);
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
}
.input-label {
    color: white;
    margin: 5px;
    width: 20px;
}
input:focus {
    outline: none;
}
.pure-input {
    border: 2px solid rgb(44, 44, 44);
    color: white;
    background: rgba(95, 95, 95);
}
.group-body {
    display: flex;
    flex-wrap: wrap;
}
#info {
    margin-left: 10px;
    cursor: help;
}
#info:hover {
    opacity: 0.7;
}
.tag {
    border: 1px solid white;
    background: rgba(0,0,0,0.8);
    color: white;
    display: inline-block;
    padding: 3px;
    cursor: help;
    transition: 0.3s;
    font-size: 13px;
}
.tag:hover {
    opacity: 0.7;
    transform: scale(1.1);
}
.tail {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}